html,
body {
    height: 100%;
}

#root {
    width: 50%;

}
@media (min-width: 1000px) {
    #root {
        width: 40%;
    }
}
@media (min-width: 1500px) {
    #root {
        width: 30%;
    }
}

label {
    display: block;
    font-weight: normal;
}

textarea {
  resize: none;
}

.bg-green {
    background-color: #4CAF50 !important;
}

.bg-red {
    background-color: #D13838 !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.color-white {
    color: white;
}

.font-size-1-2em {
    font-size: 1.2em;
}

.margin-20 {
    margin: 20px;
}

.padding-14px-20px {
    padding: 14px 20px;
}

.send-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.send-button:hover {
    background-color: #45a049;
}

.with-line-height {
    line-height: 1.1em;
}

.with-vertical-margin {
    margin-top: 30px;
}

.with-min-width-300 {
    min-width: 300px;
}